
//
// VARIABLES
//

// Colors
$ea-black: #1c1f26;
$ea-orange: #ff5e0c;
$ea-blue: #10364f;
$ea-beige: #f7eedd;
$black: #000;
$white: #fff;
$lightGray: #a3a3a3;
$gray: #595959;

$pink: #9a2e45;
$purple: #0d1043;

// Font stacks
$neue: "Neue Plak";
$neuewide: "Neue Plak Wide Extra";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}