<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed/podcast.rss" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512"  href="{{ site.baseurl }}/images/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon-16x16.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff"> 
  </head>

  <body>
    <div id="bar">{{site.description}}</div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead">
            <h1>🔥 EA Sports is going just great 🔥</h1>
            <div class="subtitle">...and is definitely not letting the interns run the company.</div>
            <strong>Registered incidents:</strong> {{ site.posts | size }}<br/>
            <div class="reachout">Are we missing something? <a href="https://twitter.com/easportsisgreat" target="_blank">Reach out!</a></div>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
          <div class="end">
            <h1>You've reached the end!</h1>
            <p>
              Unfortunately, there are no more mistakes (that we know of) to discuss here. If you know of things we missed, feel free to <a href="https://twitter.com/easportsisgreat" target="_blank">reach out!</a></div>
              <!-- If you enjoyed the content on this website, <a href="">consider gifting us some FIFA points</a>. 
              We are addicted to opening packs. It is just like crack after all. 
              Sponsoring EA with FIFA points might even allow them to hire an additional intern to perhaps prevent some of these mistakes. -->
            </p>
          </div>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
